@font-face {
  font-family: 'VT220';
  src: url('~/assets/fonts/VT220.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'CutiveMono';
  src: url('~/assets/fonts/CutiveMono.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
