@import './fonts.scss';
@import './variables.scss';

body, html {
  margin: 0;
  padding: 0;
  background: $black;
  font-family: $main-font, monospace;
  font-size: 2vh;
  color: $main-green;
  overflow: hidden;
}

a {
  color: $main-green;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $white;
}

a::before {
  display: inline;
  content: ">";
  padding-right: .2rem;
}

.page {
  padding: 1rem 2rem 1rem 2rem;
}

.invisible {
  visibility: hidden;
}

.animate-centered {
  transform-box: fill-box;
  transform-origin: center;
}

.content-preload {
  width: 100vw;
  height: 100vh;
  animation: fadeOut .15s ease-in;
}

.screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  font-family: $main-font, monospace;
}

.screen-wrapper {
  border: .3rem solid $black;
}

.hdr-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.content {
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.content__header {
  padding-top: 2.5rem;
  flex-shrink: 0;
}

.content__main {
  flex: 1 0 auto;
}

.content__footer {
  padding-bottom: 2.25rem;
  flex-shrink: 0;
}


::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(243, 255, 236, 0.3);    /* color of the scroll thumb */
  border: 1px solid $main-green;  /* creates padding around scroll thumb */
}