body, html {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  font-family: "VT220", monospace;
  font-size: 3vh;
  color: rgba(235, 255, 223, 0.75);
}

a {
  color: rgba(235, 255, 223, 0.75);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: white;
}

a::before {
  display: inline;
  content: ">";
  padding-right: .2rem;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.noselect:focus {
  outline: none !important;
}

.application {
  height: 100vh;
  width: 100vw;
}

.page,
.content {
  padding: 1rem 2rem 1rem 2rem;
}

.invisible {
  visibility: hidden;
}

.animate-centered {
  transform-box: fill-box;
  transform-origin: center;
}

.content-preload {
  width: 100vw;
  height: 100vh;
  animation: fadeOut .15s ease-in;
}

.screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 2rem;
  font-family: "VT220";
}

.screen-wrapper {
  border: .3rem solid rgb(0, 0, 0);
}

.screen-border {
  box-shadow: 0 0 2.5rem 1rem white inset;
  opacity: .2;
  z-index: 9;
}

.screen__background_fill {
  background-image:
    radial-gradient(
      ellipse farthest-corner,
      rgb(134, 151, 129),
      #000000 97%
    );
  border-radius: unset;
  animation: pulsebg 6s ease-in infinite alternate;
}

.screen__background_fill::before {
  background-image:
    radial-gradient(
      ellipse farthest-corner,
      rgb(134, 151, 129),
      #000000 85%
    );
}

.screen__background_stripes {
  background: linear-gradient(
    to bottom,
    #5d9634,
    #a2c28b 50%,
    #538c2b 50%,
    #a2c28b
  );
  background-size: 100% 6px;
  opacity: .1;
  z-index: 100;
}

.screen__effects-stripe {
   width: 100%;
   height: 15vh;
   background-image: linear-gradient(
     rgba(255,255,255, 0),
     rgba(255,255,255, 0.2) 75%,
     rgba(255,255,255, 0.3)
   );
   border-bottom: 1px solid white;
   opacity: 0.3;
   -webkit-animation: upToBottom 12s infinite linear;
   animation: upToBottom 12s infinite linear;
   z-index: 999;
}

.screen__content .page {
  animation: fadeIn .15s ease-in alternate-reverse;
}

.blinking {
  animation: fadeOut 1s .15s infinite alternate-reverse;
}

.pulse {
  animation: pulse 3s ease-in-out infinite alternate;
}

@keyframes pulse {
  from { opacity: .0; }
  to { opacity: .2; }
}

@keyframes upToBottom {
  0% { transform: translateY(-15vh); }
  100% { transform: translateY(115vh); }
}

@keyframes pulsebg {
  from { opacity: .9; }
  to { opacity: .65; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; }
}


@keyframes fadeInSkew {
  0% {
    opacity: 0;
    transform: skewX(-45deg);
    transform: skewY(-45deg);
  }

  30% {
    transform: skewX(160deg);
    transform: skewY(160deg);
  }

  100% {
    opacity: 1;
    transform: skewX(0deg);
    transform: skewY(0deg);
  }
}
