@font-face {
  font-family: 'CutiveMono';
  font-style: normal;
  src: local('CutiveMono'), url(~/assets/fonts/CutiveMono.ttf) format('truetype');
}
@font-face {
  font-family: 'VT220';
  font-style: normal;
  src: local('VT220'), url(~/assets/fonts/VT220.ttf) format('truetype');
}
@font-face {
  font-family: 'Agave';
  font-style: normal;
  src: local('Agave-Regular'), url(~/assets/fonts/Agave-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'CodenameCoder-Bold';
  font-style: normal;
  src: local('CodenameCoder-Bold'), url(~/assets/fonts/CodenameCoder-Bold.ttf) format('truetype');
}
